:host {
    height: 100vh;
    display: flex;
    flex-flow: row;
    align-items: stretch;

    background: rgb(141,163,165);
    background: linear-gradient(180deg, rgba(141,163,165,1) 0%, rgba(191,213,205,1) 100%);


    h2 {
        padding: 0 70px;
    }

    .story-outer {
        position: relative;
        flex: 1.3;
        order: 1;

        .story {
            position: absolute;
            top: 60px;
            bottom: 50px;
            left: 0;
            right: 0;
            display: flex;
            flex-flow: column;
            row-gap: 0px;
    
            overflow-y: auto;    
            overflow-x: hidden;
            scroll-behavior: smooth;

            .item {
                padding: 20px 70px;
                border-left: 2px solid transparent;
                
                transition: all .5s;

                .btn-data {
                    display: block;
                    cursor: pointer;
                };

                &.active {
                    border-color: #2c3c40;
                    background-color: #00000008;
                }

                .mobile-data {
                    display: none;
                }
            }
        }

    }

    .data {
        flex: 1;
        order: 2;
        background-color: #7e9090;
        padding: 100px 30px 30px 30px;
        

        img {
            width: 100%;
            height: auto;
            margin-bottom: 20px;
            box-shadow: 10px 10px 25px 0 #00000033;
            transition: all .5s;

            &:hover {
                transform: scale(1.05);
                box-shadow: 20px 20px 35px 0 #00000088;
            }
        }

        
    }

    .profile {
        flex: .6;
        order: 3;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 100px 30px 100px 30px;
        font-weight: 400;
        overflow: hidden;
        

        .avatar {
            background-image: url('/assets/faces/f-0.png');
            background-repeat: no-repeat;
            background-size: cover;
            height: 150px;
            min-height: 150px;
            width: 150px;
            border-radius: 100%;
            // outline: 10px solid #00000011;
            border: 10px solid #90a4a3;
            
        }

        .name {
            font-size: 1.2rem;
            height: 80px;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        .claim {
            font-size: 1rem;
            text-align: center;
        }

        .location {
            padding-top: 50px;
            display: flex;
            flex-direction: column;
            justify-content: center;         
            align-items: center;
            font-size: 1.4rem;

            fa-icon {
                color: #455a5f;
            }

            span {
                font-size: 1rem;
            }            
        }

        .follower {
            padding-top: 50px;
            width: 100%;
        }

        .tweets {
            padding-top: 50px;
            width: 100%;
        }

        .exp{
            padding-top: 50px; 
            width: 100%;
            font-size: .8rem;
            display: flex;

            .for{
                flex: 1;
                text-align: left;
                
                padding-left: 10px;               
            }

            .since {
                flex: 1;
                text-align: right;
                padding-right: 10px;
                border-right: 2px solid #455a5f;
            }

            .val {
                
                font-size: 1rem;
                font-weight: bold;
            }
        }
    }
}

@import 'insights.mobile.scss'