<app-header></app-header>
<div class="story-outer">
    <div class="story">
        <h2>Who is <strong>{{profile?.username}}</strong> ?</h2>

        <div [id]="'cnt-' + i.id" class="item" [class.active]="i.active" *ngFor="let i of insights" >
            <h3>{{ i.title }}</h3>
            <p>{{ i.text }}</p>
            <button [id]="'dat-' + i.id" class="btn-data" (click)="toggleItem(i.id)"><fa-icon [icon]="faChartColumn"></fa-icon></button>
            <div class="mobile-data" [class.on]="i.active">
                <img src="assets/dummy/chart-weekly.png" />
                <img src="assets/dummy/chart-daily.png" />
            </div>
        </div>

    </div>
</div>
<div class="data">
    <img src="assets/dummy/chart-weekly.png" />
    <img src="assets/dummy/chart-daily.png" />
</div>
<div class="profile">
    <div class="avatar" [style.background-image]="'url(' + profile?.profile_image_url + ')'">
        <img [src]="profile?.profile_image_url" />
    </div>
    <div class="name">{{profile.username}}</div>
    <div class="claim">{{profile.description}}</div>
    <div class="location">
        <fa-icon [icon]="faLocationDot"></fa-icon>
        <span>{{profile.location}}</span>
    </div>
    <div class="follower">
        <app-singlebar [data]="profile.flollower"></app-singlebar>
    </div>
    <div class="tweets">
        <app-singlebar [data]="profile.tweets"></app-singlebar>
    </div>
    <div class="exp"> 
        <!-- on twitter for<br/>  -->
        <div class="since">
            since <br/> <span class="val">{{ profile.ontwitter_since | date }}</span>
        </div>
        <div class="for">
            for <span class="val">{{ profile.ontwitter_since | duration }}</span><br/> on twitter
        </div>
    </div>
    <!-- <div style="font-size: .8rem; padding-top: 20px">on twitter</div> -->
</div>
<app-footer></app-footer>
<app-navbar [class.out]="state.navbarOn.val$ | async"></app-navbar>