:host {
    position: absolute;    
    bottom: 0;
    left: 0;
    right: 0;
    padding-left: 70px;
    height: 40px;
    background-color: #0000000e;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;    
    font-size: .8rem;
    gap: 10px;


    :first-child {
        font-size: 1.1rem;
    }

}


@media screen and (max-width:450px) {
    :host{

        position: relative;
        order: 9;
        bottom: unset;
        left: unset;
        right: unset;
        height: auto;
        padding: 20px 25px;
 
        background-color: #b0c3bc;
    }
}