<img src="assets/dummy/chart-interests.png" *ngIf="id == 'int'"/>
<img src="assets/dummy/chart-lang-dev.png" *ngIf="id == 'lang'" />
<img src="assets/dummy/chart-daily0.png" *ngIf="id == 'daily'" />


<div class="chart-area">
    <div class="h-multi" *ngIf="id == 'basics'">
        <app-ring *ngIf="data$ | async as da" [datavalues]="da" title="follower"></app-ring>
        <app-ring *ngIf="data2$ | async as da" [datavalues]="da" [title]="tweetsTitle"></app-ring>
    </div>    
    <app-polar [datavalues]="dsInterests" *ngIf="id == 'interests'"></app-polar>
    <app-tagcloud *ngIf="id == 'hashtags' && (data$ | async) as da" [datavalues]="da"></app-tagcloud>
    <app-heatmap *ngIf="id == 'weekly' && (dataWeekly$ | async) as da" [datavalues]="da"></app-heatmap>

    <app-radar [datavalues]="dsInterests" *ngIf="id == 'radar'"></app-radar>
    <app-linearea [datavalues]="dsInterests" *ngIf="id == 'line'"></app-linearea>
    <app-bar *ngIf="id == 'activity' && (dataActivity$ | async) as da" [datavalues]="da" ></app-bar>
</div>

<div class="title">how many tweets and likes has undressor generated in past 7 days?</div>