<img src="assets/dummy/chart-interests.png" *ngIf="id == 'int'"/>
<img src="assets/dummy/chart-lang-dev.png" *ngIf="id == 'lang'" />
<img src="assets/dummy/chart-daily0.png" *ngIf="id == 'daily'" />


<div class="chart-area">
    <div class="h-multi" *ngIf="id == 'basics'">
        <app-ring *ngIf="data$ | async as da" [datavalues]="da" title="follower"></app-ring>
        <app-ring *ngIf="data2$ | async as da" [datavalues]="da" [title]="tweetsTitle"></app-ring>
    </div>    

    <app-tagcloud *ngIf="id == 'hashtags' && (data$ | async) as da" [datavalues]="da.hashtags"></app-tagcloud>
    <app-heatmap *ngIf="id == 'weekly' && (dataWeekly$ | async) as da" [datavalues]="da.result"></app-heatmap>

    <app-linearea [datavalues]="dsInterests" *ngIf="id == 'line'"></app-linearea>
    <app-bar *ngIf="id == 'activity' && (dataActivity$ | async) as da" [datavalues]="da.result" ></app-bar>

    <!-- <app-radar [datavalues]="dsInterests" *ngIf="id == 'radar'"></app-radar> -->
    <app-radar *ngIf="id == 'link-domains' && (linkDomains$ | async) as da" [datavalues]="da"></app-radar>
    <app-tagcloud *ngIf="id == 'link-hashtags' && (data$ | async) as da" [datavalues]="da"></app-tagcloud>
    <app-tagcloud *ngIf="id == 'link-annotations' && (data$ | async) as da" [datavalues]="da"></app-tagcloud>
    <app-tagcloud *ngIf="id == 'link-entities' && (data$ | async) as da" [datavalues]="da"></app-tagcloud>
</div>

<div class="title" [innerHtml]="title" *ngIf="!title2"></div>
<div class="title-multi" *ngIf="title2">
    <div [innerHtml]="title"></div>
    <div [innerHtml]="title2"></div>
</div>