:host {
    height: 100vh;
    background-color: #171D1E;

    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    justify-content: center;

    gap: 100px;

    img {
        width: 80%;
        height: auto;
    }

    .chart-area {
        position: absolute;
        left: 10%;
        right: 10%;
        top: 20%;
        bottom: 20%;
        overflow: hidden;
    }
}