<img src="assets/dummy/chart-interests.png" *ngIf="id == 'int'"/>
<img src="assets/dummy/chart-lang-dev.png" *ngIf="id == 'lang'" />
<img src="assets/dummy/chart-daily0.png" *ngIf="id == 'daily'" />


<div class="chart-area">
    <div class="h-multi" *ngIf="id == 'basics'">
        <app-ring [datavalues]="(data$ | async)"></app-ring>
        <app-ring [datavalues]="dsLanguages" title="tweets"></app-ring>
    </div>    
    <app-polar [datavalues]="dsInterests" *ngIf="id == 'interests'"></app-polar>
    <app-tagcloud [datavalues]="dsWords" *ngIf="id == 'hashtags'"></app-tagcloud>
    <app-heatmap *ngIf="id == 'weekly'"></app-heatmap>

    <app-radar [datavalues]="dsInterests" *ngIf="id == 'radar'"></app-radar>
    <app-linearea [datavalues]="dsInterests" *ngIf="id == 'line'"></app-linearea>
    <app-bar [datavalues]="dsInterests" *ngIf="id == 'bar'"></app-bar>
</div>

{{(data$ | async) | json}}