:host {
    height: 100vh;
    background-color: #171D1E;

    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    justify-content: center;

    gap: 100px;

    img {
        width: 80%;
        height: auto;
    }

    .chart-area {
        position: absolute;
        left: 7%;
        right: 7%;
        top: 20%;
        bottom: 20%;
        overflow: hidden;

        .h-multi{
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;

           
            :nth-child(1n) {
                position: absolute;
                top:0;
                bottom: 0;
                left:0;
                width: 45%;
                right: auto;
            }

            :nth-child(1n+2) {
                position: absolute;
                left: auto;
                width:45%;
                right: 0;
            }
        }
    }

    .chart-area-tmp {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;

        :nth-child(1n){
            position: relative;
            flex: .5;
            width: 50%;
            height: auto;
        }
    }
}