@import '../../../styles.variables';

:host {
    height: 100vh;
    display: flex;

    background-image: url('/assets/screen-dashboard.png');
    background-size: 102% 105%;
    background-position: -15px -20px;       
}