:host {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    overflow: hidden;
    background-color: #000;

    display:flex;
    justify-content: center;
    flex-direction: column;

    touch-action: none;

    margin: 0;
    padding: 0;

    .faces {
        position:absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        overflow: hidden;

        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-content: flex-start;
        transition: all .5s;

        &.off {
            opacity: 0;
            transition-delay: 1.5s;
        }

        .face-item {
            background-color: #000;
            width: 16.65%;
            height: 25%;
            box-sizing: border-box;
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            border: 2px solid #000;
            perspective: 1000px;          
        }
    }
    

    .area {
        position: relative;
        border: 0px solid #5CECFF55;

        box-shadow: 0 0 55px 0 #85f7ff55;

        border-right: none;
        border-left: none;    
    
        text-align: center; 
        height: 35%;
    
        display:flex;
        justify-content: space-evenly; 
        flex-direction: column;
        align-items: center;
        overflow: hidden;
        opacity: 0;

        animation: fadein 1s ease-in 1 forwards 3s;
    
        backdrop-filter: blur(4px);
        transition: all .5s;

        &.off {
            animation: fadeout 1s ease-in 1 forwards;
        }

        form{
            z-index: 2;
            width: 100%;
        }

        .loader {
            position: absolute;
        }

        .bg-dark {
            position:absolute;
            left: 0;
            top: 0;
            bottom: 0;
            right: 0;
            background-color: #000;
            opacity: .6;
            z-index: 0;
        }
    
        .claim {
            width: 0;
    
            font-size: 1.2rem;
            text-shadow: 2px 2px #000;
        
            color: #ffffff;

        
            overflow: hidden;
            white-space: nowrap; 
            border-right: 2px solid transparent; 
            transition: all .5s;
    
            animation: typing 3.5s steps(40, end) forwards, 
                       blink-caret .75s step-end 6;
                       
            animation-delay: 4s;
            z-index: 1;

            &.off {
                opacity: 0;
            }
        }        
    
        .tname {
            width: 20%;
            height: 40px;
            background-color: #000;
            border: none;
            padding-left: 20px;
            font-size: 1rem;
            font-weight: 300;
            letter-spacing: .1rem;
            color: #98d3dc;

            outline: none;
            box-shadow: 2px 2px 45px 0px #ffffff55;
            transition: all .5s;
            z-index: 1;
            border-bottom: 1px solid #98d3dc;
            border-radius: 0;
        
            &:focus {
                box-shadow: 2px 2px 65px 0px #94dde7bb;
            }

            &::placeholder{
                letter-spacing: normal;
                font-size: .8rem;
                color: #888;
            }

            &.off {
                opacity: 0;
            }
        }    
    
    }    
}


@keyframes typing {
    from { width: 0;  }
    to { width: 705px;  }
}
  

@keyframes blink-caret {
    from { 
        border-color: transparent;         
    }
    50% { 
        border-color: #98d3dc;
    }
    to
    { 
        border-color: transparent;
    }
 
}

@keyframes fadein {
    from { opacity : 0;}
    to { opacity: 1;}
}

@keyframes fadeout {
    from { opacity : 1;}
    to { opacity: 0;}
}



@import 'home.mobile.scss';