@import '../../../styles.variables';

@media #{$tablet} {
    :host{
        .faces {
            .face-item {
                width: 25%;
            }
        }
        .area {
            border-color: #5CECFF88;
            height: 35%;

            .tname {
                width: 50%;

                
                &::placeholder{
                    letter-spacing: normal;
                    font-size: .8rem;
                    color: #555;
                }
            }


        }
    }      
}

@media #{$phone} {
    :host{
        .faces {
            .face-item {
                width: 33.3%;
            }
        }

        .area {
            height: 35%;
            border-color: #5CECFFaa;

            .tname {
                width: 80%;
            }

            .claim {
                white-space: unset;
                width: 80%;
                animation: none;
            }
        }
    }      
    
}

@media screen and (max-height:450px) {
    :host{
        .area {
            height: 50%;
        }
    }      
    
}